  body {
    background-color: #DDEAED;
  }

  h1 {
    color: #211a40;
  }

  h3 {
    color: #463861;

  }


  hr {
    border-style: solid;
    border-color: grey;
    border-width: 0.5px;
    width: 25%;
    float: left;
  }
